* {
    margin: 0;
    padding: 0;
}

nav {
    height: 60px;
    background-color: #084887;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu_logo {
    padding-left: 80px;
    width: 70px;
    height: 28px;
}

#menu {
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    padding-right: 80px;
}



#block_second_div {
    display: flex;
}

#all_div {
    width: 1120px;
    margin: auto;
}

#block_first_mobile {
    display: none;
}

#block_second_div {
    margin-top: 135px;
    display: flex;
    width: 955px;
    margin-left: 130px;
}

.block_second_p {
    font-size: 12px;
    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#p_2 {
    margin-left:80px;
}

#p_3 {
    margin-left:95px;
}

#p_4 {
    margin-left:70px;
}

#p_5 {
    margin-left:80px;
}

h2 {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.block_second_write {
    display: flex;
}

#block_second_write_all {
    margin-top: 50px;
}

input[type=text] {
    border: 1px solid #084887; 
    background: #ffffff;
    outline: none; 
    height: 24px;
    width: 922px;
    margin-left: 30px;
    color: #000000; 
    font-size: 16px; 
    font-family: Montserrat;
}

#block_second_write_two {
    margin-top: 40px;
}

#two_input {
    margin-left: 27px;
}

#photo_piter {
    margin-top: 100px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#last_button_two {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 1120px;
}

.last_button_next_and_back {
    color: #084887;
    border: 1px solid #084887;
    border-radius: 100px;
    padding: 10px 45px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    transition: all 400ms;
}

#last_button_next {
    margin-left: 20px;
}

#last_button_next:hover {
    background-color: #084887;
    color: #ffffff;
}

#last_button_back:hover {
    background-color: #084887;
    color: #ffffff;
}
/* 
@media (min-width:320px) and (max-width:480px) {
    nav {
        height: 60px;
        background-color: #084887;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #menu_logo {
        padding-left: 80px;
        width: 70px;
        height: 28px;
    }
    
    #menu {
        color: white;
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 20px;
        padding-right: 80px;
    }

    #all_div {
        margin: 0;
        width: 300px;
    }

    #block_first_div {
        margin-left: 10px;
        margin-top: 30px;
        width: 300px;
    }
    
    #block_first_pc {
        display: none;
    }

    #block_first_mobile {
        display: block;
    }

    #block_second_div {
        margin-top: 0;
        flex-direction: column;
    }

    #p_1 {
        position: absolute;
        top: 110px;
        left: 40px;
    }

    #p_2 {
        position: absolute;
        top: 190px;
        left: 40px;
        margin-left:0px;
    }
    
    #p_3 {
        position: absolute;
        top: 300px;
        left: 40px;
        margin-left:0px;
    }
    
    #p_4 {
        position: absolute;
        top: 410px;
        left: 40px;
        margin-left:0px;
    }
    
    #p_5 {
        position: absolute;
        top: 530px;
        left: 40px;
        margin-left:0px;
    }
}

@media (max-width:640px) {
 /*480px
}

@media (max-width:960px) {
640px
}

@media (max-width:1200px) {
960px
} 