* {
    margin: 0;
    padding: 0;
}

nav {
    height: 60px;
    background-color: #084887;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu_logo {
    padding-left: 80px;
    width: 70px;
    height: 28px;
}

#menu {
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    padding-right: 80px;
}

#block_second_div {
    display: flex;
}

#all_div {
    width: 1120px;
    margin: auto;
}

#block_second_div {
    margin-top: 135px;
    display: flex;
    width: 955px;
    margin-left: 130px;
}

.block_second_p {
    font-size: 12px;
    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#p_2 {
    margin-left:80px;
}

#p_3 {
    margin-left:95px;
}

#p_4 {
    margin-left:70px;
}

#p_5 {
    margin-left:80px;
}

h2 {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}

#confirm_div {
    margin: auto;
    margin-top: 60px;
    width: fit-content;
}

#button_yes_and_no {
    display: flex;
    margin-top: 20px;
}

.button_tag {
    color: #084887;
    border: 1px solid #084887;
    border-radius: 100px;
    padding: 10px 45px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
}

#button_tag_one {
    background-color: #084887;
    color: #ffffff;
    transition: all 400ms;
}

#button_tag_one:hover {
    background-color: #ffffff;
    color: #084887;
}

#button_tag_two {
    margin-left: 10px;
    transition: all 400ms;
}

#button_tag_two:hover {
    background-color: #084887;
    color: #ffffff;
}
